<%= form_for @family_member, :html => {:multipart => true} do |f| %>
  <% if @family_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@family_member.errors.count, "error") %> prohibited this family_member from being saved:</h2>

      <ul>
      <% @family_member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :relationship %><br>
    <%= f.text_field :relationship %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :picture %><br>
    <%= f.file_field :picture %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
