<html><body style="background-color:#F0F8FF"></body></html>

<p id="notice"><%= notice %></p>

<h1>My Family</h1>
<br>

<table>
  <thead>
    <tr>
      <th>Picture&nbsp;</th>
      <th>Name&nbsp;</th>
      <th>Relationship&nbsp;</th>
      <th>Age&nbsp;</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @family_members.each do |family_member| %>
      <tr>
        <td><%= image_tag family_member.picture_url(:thumb) if family_member.picture? %></td>
        <td><%= family_member.name %></td>
        <td><%= family_member.relationship %></td>
        <td><%= family_member.age %></td>
        <td><%= link_to 'Show', family_member %></td>
        <td><%= link_to 'Edit', edit_family_member_path(family_member) %></td>
        <td><%= link_to 'Delete', family_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Family member', new_family_member_path %>
