<html><body style="background-color:#F0F8FF"></body></html>

<h1>My Family</h1>

<br>

<% @family_members.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |family_member| %>
      <div class="col-md-4">
        <%= image_tag family_member.picture_url, width: '100%' if family_member.picture.present?%>
        <h4><%= link_to family_member.name, family_member %></h4>
        <h5><%= family_member.relationship %>, <%= family_member.age %></h5>
        <br><br>
      </div>
    <% end %>
  </div>
<% end %>

<br><br>

<%= link_to 'New Family member', new_family_member_path %>
