<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-9">
    <%= image_tag(@family_member.picture_url, width: '100%') if @family_member.picture.present? %>
  </div>

  <div class="col-md-3">
    <p><b>Name: </b><%= @family_member.name %></p>
    <p><b>Relationship: </b><%= @family_member.relationship %></p>
    <p><b>Age: </b><%= @family_member.age %></p>
    <p>
      <%= link_to 'Edit', edit_family_member_path(@family_member) %> |
      <%= link_to 'Delete', @family_member, data: { confirm: 'Are you sure?' }, method: :delete %> |
      <%= link_to 'Back', family_members_path %>
    </p>
  </div>
</div>

<h3>Comments</h3>
<% @comments.each do |comment| %>
  <div>
    <strong><%= comment.user_name %></strong>
    <br />
    <p><%= comment.body %></p>
    <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
<% end %>
<%= render 'comments/form' %>
