<p id="notice"><%= notice %></p>

<h1>All Comments</h1>

<table>
  <thead>
    <tr>
      <th>User name&nbsp;&nbsp;</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.user_name %></td>
        <td><%= comment.body %>&nbsp;&nbsp;</td>
        <td><%= link_to 'Show', comment %>&nbsp;</td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %>&nbsp;</td>
        <td><%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
